@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*Sign up Section*/
body {
  margin: 0;
  padding: 0;
  background: url(Signup-Page.jpg);
  background-size: cover;
  font-family: sans-serif;
}
.login-box {
  width: 350px;
  height: 590px;
  background: none;
  color: white;
  top: 50%;
  left: 50%;
  border: 3px solid white;
  position: absolute;
  transform: translate(-50%, -30%);
  box-sizing: border-box;
  padding: 10px 30px;
  border-radius: 20px;
}
.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: calc(-100px / 2);
  left: calc(50% - 50px);
}
h1 {
  margin: 0;
  padding: 50px 0 20px;
  text-align: center;
  font-size: 22px;
}
.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box input {
  width: 100%;
  margin-bottom: 10px;
}
.login-box input[type='text'],
input[type='password'] {
  border: none;
  border-bottom: 2px solid #f1f2f6;
  background: transparent;
  outline: none;
  height: 30px;
  font-size: 15px;
  color: white;
}
.login-box input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  background: #f1f2f6;
  color: #2c3e50;
  font-size: 15px;
  border-radius: 20px;
}
.login-box input[type='submit']:hover {
  cursor: pointer;
  background: #7f8c8d;
  color: white;
}
.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}
.login-box a:hover {
  color: #3498db;
}
.login-options {
  padding: 15px;
  margin: 5px;
  border-radius: 1px;
  display: inline-block;
  margin-left: 50px;
}
.login-options > p {
  margin-left: 50px;
  font-size: 11px;
}
